# Ignore node_modules
node_modules
npm-debug.log
yarn-error.log

# Ignore logs
logs
*.log
*.log.*

# Ignore environment variables
.env
.env.*

# Ignore build output
dist
build

# Ignore Docker files
Dockerfile
.dockerignore

# Ignore Git
.git
.gitignore

# Ignore IDE/editor specific files
.vscode
.idea

# Ignore OS-specific files
.DS_Store
Thumbs.db
